<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>inserir_perfil</servlet-name>
        <servlet-class>controler.inserir_perfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirPerfil</servlet-name>
        <servlet-class>controler.ExcluirPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarPerfil</servlet-name>
        <servlet-class>controler.AlterarPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>inserir_servico</servlet-name>
        <servlet-class>controler.inserir_servico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarServico</servlet-name>
        <servlet-class>controler.AlterarServico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarCliente</servlet-name>
        <servlet-class>controler.AlterarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>inserir_cliente</servlet-name>
        <servlet-class>controler.inserir_cliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirCliente</servlet-name>
        <servlet-class>controler.ExcluirCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>lista_perfil</servlet-name>
        <servlet-class>lista_perfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarUsuario</servlet-name>
        <servlet-class>controler.GerenciarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarLogin</servlet-name>
        <servlet-class>controler.GerenciarLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirMenu</servlet-name>
        <servlet-class>controler.ExcluirMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarMenu</servlet-name>
        <servlet-class>controler.GerenciarMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarAgendamento</servlet-name>
        <servlet-class>controler.GerenciarAgendamento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarPerfil</servlet-name>
        <servlet-class>controler.GerenciarPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarServico</servlet-name>
        <servlet-class>controler.GerenciarServico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarCliente</servlet-name>
        <servlet-class>controler.GerenciarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarMenuPerfil</servlet-name>
        <servlet-class>controler.GerenciarMenuPerfil</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>inserir_perfil</servlet-name>
        <url-pattern>/inserir_perfil.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirPerfil</servlet-name>
        <url-pattern>/excluir_perfil.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarPerfil</servlet-name>
        <url-pattern>/alterar_perfil.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>inserir_servico</servlet-name>
        <url-pattern>/inserir_servico.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarServico</servlet-name>
        <url-pattern>/alterar_servico.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarCliente</servlet-name>
        <url-pattern>/alterar_cliente.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>inserir_cliente</servlet-name>
        <url-pattern>/inserir_cliente.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirCliente</servlet-name>
        <url-pattern>/excluir_cliente.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>lista_perfil</servlet-name>
        <url-pattern>/lista_perfil.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarUsuario</servlet-name>
        <url-pattern>/gerenciar_usuario.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarLogin</servlet-name>
        <url-pattern>/gerenciar_login.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirMenu</servlet-name>
        <url-pattern>/excluir_menu.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarMenu</servlet-name>
        <url-pattern>/gerenciar_menu.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarAgendamento</servlet-name>
        <url-pattern>/gerenciar_agendamento.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarPerfil</servlet-name>
        <url-pattern>/gerenciar_perfil.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarServico</servlet-name>
        <url-pattern>/gerenciar_servico.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarCliente</servlet-name>
        <url-pattern>/gerenciar_cliente.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarMenuPerfil</servlet-name>
        <url-pattern>/gerenciar_menu_perfil.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
